<div class="center-h4">My few works</div>
<div class="content">
  <a href="https://alanrin.github.io/angular-weather/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>nights_stay</mat-icon>

        <span>Weather</span>
      </div>
    </div>
  </a>
  <a href="https://alanrin.github.io/films-on-react/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>movie</mat-icon>

        <span>Search films</span>
      </div>
    </div>
  </a>
  <a href="https://alanrin.github.io/sudoku-simple/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>casino</mat-icon>

        <span>Sudoky</span>
      </div>
    </div>
  </a>
  <a href="https://alanrin.github.io/double-nums/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>gamepad</mat-icon>

        <span>Double Nums</span>
      </div>
    </div>
  </a>
</div>

<div class="center-h4">My hobbies</div>
<div class="content">
  <a routerLink="plants">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>grass</mat-icon>

        <span>Plants</span>
      </div>
    </div>
  </a>
  <a routerLink="paints">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>brush</mat-icon>

        <span>Paints</span>
      </div>
    </div>
  </a>
  <a routerLink="jewelry">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>star_border</mat-icon>

        <span>Jewelry</span>
      </div>
    </div>
  </a>
</div>
