<div class="center-h4">
  Увлекающаяся личность. Люблю программирование и творчество)
  Поэтому...
</div>
<br>
<div class="center-h4">Немного моих работ</div>
<div class="content">
  <a href="https://alanrin.github.io/angular-weather/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>nights_stay</mat-icon>

        <span>Погода</span>
      </div>
    </div>
  </a>
  <a href="https://alanrin.github.io/films-on-react/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>movie</mat-icon>

        <span>Поиск фильмов</span>
      </div>
    </div>
  </a>
  <a href="https://alanrin.github.io/sudoku-simple/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>casino</mat-icon>

        <span>Судоку</span>
      </div>
    </div>
  </a>
  <a href="https://alanrin.github.io/double-nums/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>gamepad</mat-icon>

        <span>Double Nums</span>
      </div>
    </div>
  </a>
</div>

<div class="center-h4 center-h4-small">И две TODO</div>
<div class="content">
  <a href="https://alanrin.github.io/todo-vue/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>receipt_long</mat-icon>
        <span>TODO</span>
        <img src="assets/vue-logo.png" alt="" height="20">
      </div>
    </div>
  </a>
  <a href="https://alanrin.github.io/todo-react-bootstrap/">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>receipt_long</mat-icon>
        <span>TODO</span>
        <img src="assets/react-logo.svg" alt="" height="20">
      </div>
    </div>
  </a>
</div>

<div class="center-h4">Ну и немного о моих хобби</div>
<div class="content">
  <a routerLink="paints">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>brush</mat-icon>

        <span>Рисунки</span>
      </div>
    </div>
  </a>
  <a routerLink="jewelry">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>star_border</mat-icon>

        <span>Украшения</span>
      </div>
    </div>
  </a>
  <a routerLink="plants">
    <div class="card-container">
      <div class="card card-small" tabindex="0">
        <mat-icon>grass</mat-icon>

        <span>Растения</span>
      </div>
    </div>
  </a>
</div>
